.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: 400px; */
  font-style: normal;
}
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: 400px; */
  font-style: normal;
}

/* header styles */
header{
    background-image: url("../Assets/Hero-bg.png");
    height: 698px;
}
header .btn{
    margin-top: 50px;
    font-weight: bold;
    font-size: 16px;
}

header .logo{
    margin-top: 50px;
    font-size: 31px;
}
main{
    background-color: #ffffff50;
}
nav{
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    margin-bottom: 100px;
}
.logo{
    color: #4E47FF;
    font-size: 1.5em;
    width: 99px;
    height: 51px;
}

.banner{
    max-width: 800px;
    height: 250px;
    margin: 0 auto;
}

.banner-text{
    justify-content: center;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}
/* how to center a div */
/* way 1: this or way 2: <div>margin: 0 auto;</div> */
.banner div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner .btn{
    margin: 0;
}

/* shared styles */
nav .btn{
    margin-right: 150px;
    
    width: 132px;
    height: 48px;
}

.btn{
    border: none;
    color: white;
    background-color: #4E47FF;
    border-radius: 8px;
    font-weight: bold;
    
    font-size: 1em;
    padding-left: 36px;
    padding-right: 36px;
    padding-bottom: 12px;
    padding-top: 12px;
}

.btn:hover{
    box-shadow: 3px 3px 3px 3px #4d47ff8d;
    cursor: pointer;
    color: black;
    font-size: medium;
}

/* main styles */

.action{
    margin: 150px;
    display: flex;
    justify-content: space-between;
    gap: 240px;
}

.action-hd{
    font-weight: bold;
    font-size: 40px;
}

.action-para{
    font-size: 21px;
    /* margin-right: ; */
    text-align: left;
}
.action img{
    border-radius: 45px;
}

.user{
    height: 300px;
    border-radius: 25px;
    /* display: flex; */
    justify-content: center;
    /* position: relative; */
    background-color: rgba(77, 71, 255, 0.10);
    
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    text-align: center;
}

.user-hd{
    font-weight: bold;
    font-size: 2em;
}
.nums{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 155px;
}
.user .num strong{
    color: #4E47FF;
    font-size: 70px;
    /* padding-top: 100px; */
}
.user p{
    margin-top: 0;
    font-size: 20px;
    columns: #00000050;
}

.info{
    display: flex;
    justify-content: space-between;
    gap: 115px;
    margin-left: 150px;
    margin-right: 150px;
}

.form-title{
    font-size: 97px;
    font-weight: bold;
}
form label{
    font-size: 20px;
    font-weight: 600;
}
form input, form .btn{
    margin-top: 10px;
    margin-bottom: 19px;
    height: 70px;
    width: 500px;
    border-radius: 10px;
    border: 1px solid #D6DDED;
    padding-left: 32px;
    font-size: 18px;
}

form .msg{
    padding-bottom: 50px;
    height: 50px;
}

/* footer styles */
footer{
    /* display: flex;
    justify-content: center; */
    margin: 0 455px;
    width: 100%;
}
.foot-logo h1{
    font-weight: 700;
    font-size: 100px;
    color: #4E47FF;
    text-align: center;
    padding-bottom: 0px;
    margin: 0;
}

footer p{
    margin: 10px auto;
    /* margin-top: none; */
    /* margin-left: 100px; */
    text-align: justify;
    align-items: center;
    color: #8987A1;
    
    /* font-size: 30px; */
    
}

footer{
    width: 530px;
    height: 100px;
}
.foot-flex{
    display: flex;
    justify-content: space-around;
}

.foot-btn{
    border: none;
    color: #8987A1;
    font-size: 30px;
    background-color: 0;
}

.foot-flex{
    margin-top: 30px;
    height: 200px;
}

.links{
    text-decoration: none;
    color: #8987A1;
    font-weight: bold;
    font-size: 15px;
    justify-content: space-around;
}

/* bonus */
.cards h2{
    color: #252432;
    font-weight: bold;
    font-size: 40px;
    justify-items: center;
    text-align: center;
}

.stars img{
    width: 20px;
    height: 20px;
}

.cards{
    margin-left: 150px;
    margin-right: 150px;
}
.card-flex{
    display: flex;
    justify-content: space-between;
    /* gap: ; */
}

.card{
    background-color: white;
    border: 2px solid #F2EDED;
    border-radius: 14px;
    padding: 15px;
    
}

.card h4{
    font-size: 20px;
}
.avatar{
    height: 40px;
    width: 40px;
    border-radius: 1000px;
}

.avatar-details{
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 20px;
}

.avatar-details div{
    display: block;
}

.name{
    font-weight: bold;
    font-size: medium;
    color: #8987A1;
}
.date{
    font-weight: 400;
    font-size: medium;
    color: #8987A1;
}
